.content {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F9;

  .chat-container {
    display: flex;
    flex-direction: column;
    min-height: 200rpx;

    .chat-list {
      height: 0;
      flex: auto;
      padding: 20rpx 0;
      position: relative;

      //&::before {
      //  content: '';
      //  position: absolute;
      //  left: 0;
      //  right: 0;
      //  height: 40rpx;
      //  margin: 0 40rpx;
      //  background: linear-gradient(to bottom, #F6F6F9 0%, rgba(246, 246, 249, 0.9) 30%, #F6F6F900 100%);
      //  z-index: 10;
      //}

      //&::after {
      //  content: '';
      //  position: absolute;
      //  left: 0;
      //  right: 0;
      //  bottom: 20rpx;
      //  height: 40rpx;
      //  margin: 0 40rpx;
      //  background: linear-gradient(to top, #F6F6F9 0%, rgba(246, 246, 249, 0.9) 30%, #F6F6F900 100%);
      //  z-index: 10;
      //}

      > scroll-view {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 50rpx;

        .reverse-item {
          flex-direction: row-reverse;
        }

        .chat-item {
          display: flex;
          padding: 0 40rpx;
          gap: 20rpx;
          margin-top: 50rpx;
          opacity: 0;

          &:last-child {
            padding-bottom: 100rpx;
          }

          .avatar {
            height: 80rpx;
            width: 80rpx;

            image {
              height: 100%;
              width: 100%;
              border-radius: 100%;
            }
          }

          .chat-content {
            flex: auto;
            width: 0;
            background-color: white;
            border-radius: 14rpx;
            font-size: 26rpx;
          }
        }

        .chat-item-in {
          animation: in-ani forwards .2s linear;
        }

        @keyframes in-ani {
          0% {
            opacity: 0;
            transform: translateY(-10rpx);
          }

          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      .chat-reverse {
        flex-direction: row-reverse;
      }
    }
  }

  .say-container {
    position: fixed;
    bottom: 0;
    margin: 40rpx;
    width: calc(100vw - 80rpx);
    height: 80rpx;
    display: flex;
    gap: 20rpx;

    .say-input {
      background-color: white;
      border-radius: 14rpx;
      width: 0;
      flex: auto;
      padding: 0 20rpx;
      font-size: 26rpx;
      color: #333333;
      display: flex;
      align-items: center;

      input {
        width: 100%;
      }
    }

    .send-btn {
      width: 100rpx;
      background-color: white;
      border-radius: 14rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .send-loading {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, .6);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 14rpx;
      opacity: 0;
      transition: all .2s;

      img {
        height: 60rpx;
        width: 60rpx;
      }
    }

    .send-loading-show {
      opacity: 1;
    }
  }
}
